<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
      <h2>Workshops</h2>
    </div>
    <div class="col-md-6">
      <div class="model_buttons">
        
      </div>
    </div>
  </div>
</div>
<div class="model_line"></div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Workshop Type</th>
          <th>Location</th>
          <th>Subject</th>
        </tr>
      </thead>
      <tbody>
        <% if @workshops.present? %>
          <% @workshops.each do |workshop| %>
            <tr>
              <td>
                <%= workshop.name %>
              </td>
              <td>
                <%= workshop.email %>
              </td>
              <td>
                <%= workshop.workshop_type %>
              </td>
              <td>
                <%= workshop.location %>
              </td>
              <td>
                <%= workshop.subject %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td class="center" colspan="6">No Record Found</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
