<p>Name: <%= @workshop.name %></p>
<p>Email: <%= @workshop.email %></p>
<p>Mobile: <%= @workshop.mobile %></p>
<p>Workshop Type: <%= @workshop.workshop_type %></p>
<p>Location: <%= @workshop.location %></p>
<p>State: <%= @workshop.state %></p>
<p>City: <%= @workshop.city %></p>
<p>Subject: <%= @workshop.subject %></p>
<p>Message: <%= @workshop.message %></p>
<p>Date: <%= @workshop.created_at %></p>