<p>Name: <%= @program.name %></p>
<p>Email: <%= @program.email %></p>
<p>Mobile: <%= @program.mobile %></p>
<p>Program Type: <%= @program.program_type %></p>
<p>Location: <%= @program.location %></p>
<p>State: <%= @program.state %></p>
<p>City: <%= @program.city %></p>
<p>Subject: <%= @program.subject %></p>
<p>Message: <%= @program.message %></p>
<p>Date: <%= @program.created_at %></p>