<section>
      <div class="container-fluid enrollment_con">
        <div class="container">
          <div class="row">
            <div class="page_heading enrollment_heading">ENROLLMENT</div>
          </div>
          <div class="row align_justify">
            <div class="col-lg-3 col-md-3 col-sm-3"></div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="background:#e9e9e9">
              <h1>Online Enrollment Form</h1><hr>
              <%= form_for @student_enrollment, html: {novalidate: true} do |f|%>
                <div class="form-group">
                  <label for="enrollment_name">Name*</label>
                  <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
                </div>
                <div class="form-group">
                  <label for="enrollment_email">Email*</label>
                  <%= f.text_field :email,placeholder: "Email", class: "form-control" %>
                </div>
                <div class="form-group">
                  <label for="enrollment_mobile">Mobile*</label>
                  <%= f.text_field :mobile, placeholder: "Mobile",class: "form-control" %>
                </div>
                <div class="form-group">
                  <label for="enrollment_yearsem">Year/Semester*</label>
                  <%= f.text_field :year, placeholder: "e.g. 2017/3", class: "form-control" %>
                </div>
                <div class="form-group">
                  <label for="enrollment_coursework">Courses/Workshop*</label>
                  <%= f.select :course, options_from_collection_for_select(Course.all, :id,:name),{prompt: "Choose your course name"},{class: "form-control"} %>
                </div>
                <div class="form-group">
                  <label for="enrollment_state">State*</label>
                  <%= f.select :state, STATE_LIST, {prompt: "Choose your state"}, class: "form-control" %>
                </div>
                <div class="form-group">
                  <label for="enrollment_postalcode">Postal Code*</label>
                  <%= f.text_field :postal_code, placeholder: "Your Postal Code", class: "form-control" %>
                </div>
                <div class="form-group">
                  <label for="enrollment_centre">Preferred Centre*</label>
                  <%= f.select :preferred_center, options_for_select([["Mohali","Mohali"]]), {prompt: "Choose your center"}, class: "form-control" %>
                </div>
                <div class="form-group">
                  <label for="enrollment_college">College name*</label>
                  <%= f.text_area :college, class:"form-control" %>
                </div>
                <div class="form-group">
                  <label for="enrollment_referbyname enrollment_referbycollege enrollment_referbyphone">Refered by</label>
                  <%= f.text_field :refer_by_name, placeholder: "Name", class: "form-control" %>
                  <%= f.text_field :refer_by_college, placeholder: "Email", class: "form-control" %>
                  <%= f.text_field :refer_by_number, placeholder: "Number", class: "form-control" %>
                </div>
                <div class="form-group">
                  <label for="enrollment_amount">Amount (in Rs.)*</label>
                  <%= f.text_field :amount, placeholder: "Amount",class: "form-control" %>
                </div>
                <%= f.submit "Submit", class: "winter_btn backorange" %>  
              <% end %>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3"></div>
          </div>
        </div>
      </div>
    </section>