<section>
      <div class="container-fluid cources_con">
        <div class="container">
          <div class="row">
            <div class="page_heading cources_heading">COURCES</div>
          </div>
          <div class="row align_justify">
            <h1>Cources offered - by TCS partner Dezignsuite</h1><br>
            <h4>
              • <%= link_to "<b>PHP MYSQL</b>".html_safe, php_course_path %><hr><br>
              • <%= link_to "<b>ASP.Net</b>".html_safe, dotnet_course_path %><hr><br>
              • <%= link_to "<b>Android Apps Development</b>".html_safe, android_course_path %><hr><br>
              • <%= link_to "<b>Digital Marketing</b>".html_safe, digital_marketing_course_path %><hr><br>
              • <%= link_to "<b>Cloud Computing</b>".html_safe, cloud_computing_course_path %><hr><br>
              • <%= link_to "<b>Big Data and Hadoop</b>".html_safe, bigdata_course_path %><hr><br>
              • <%= link_to "<b>Java</b>".html_safe, java_course_path %><hr><br>
              • <%= link_to "<b>Web Designing</b>".html_safe, web_designing_course_path %><hr><br>
              • <%= link_to "<b>Python</b>".html_safe, python_course_path %><hr><br>
              • <%= link_to "<b>Tally</b>".html_safe, tally_course_path %><hr><br>
              • <%= link_to "<b>Software Testing</b>".html_safe, software_testing_course_path %><hr><br>
              • <%= link_to "<b>Networking</b>".html_safe, networking_course_path %><hr><br>
              • <%= link_to "<b>Embedded System</b>".html_safe, embedded_system_course_path %><hr><br>
              • <%= link_to "<b>C Language</b>".html_safe, c_course_path %><hr><br>
              • <%= link_to "<b>C++</b>".html_safe, cplus_course_path %><hr><br>
              • <%= link_to "<b>Business Analyst</b>".html_safe, business_analyst_course_path %><hr><br>
            </h4><br>
          </div>
        </div>
      </div>
    </section>