 <!-- header top -->
    <!-- slider -->
      <div class="container-fluid slider_con">
        <div class="row header_slider_col">
          <div class="slider_left_col">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <%= image_tag asset_path("banner1.jpg"), alt:"Los Angeles" %>
                </div>

                <div class="item">
                  <%= image_tag asset_path("banner1.jpg"), alt:"Chicago" %>
                </div>

                <div class="item">
                  <%= image_tag asset_path("banner1.jpg"), alt:"New York" %>
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="slider_right_col">
            <div class="row slider_right-top">
              <%= image_tag asset_path("tcslogo.png"), class: "tcs_logo" %>
            </div>
            <div class="row slider_right-bottom">
              <%= image_tag asset_path("graphic1.jpg"), class: "slider_graphic" %>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid newsline">
        <div class="container">
          <marquee> dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text dummy text</marquee>
        </div>
      </div>
      <!-- slider -->
<section>
    <div class="container-fluid cards_con">
      <div class="container">
        <div class="col-lg-4 col-md-4 col-sm-4 margintop">
          <div class="cards_wrap">
            <div class="cards_head">
              Training & certification
            </div><br>
            <%= image_tag asset_path("card1.png") %><br><br>
            <p class="fontsize_small fontblue">du mmy tex t du mmy te xt du mmy text dum my text du mmy text d ummy text dum my text du mmy text du mmy text</p>
            <input type="button" value="Read More" class="winter_btn backblue" />
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 margintop">
          <div class="cards_wrap">
            <div class="cards_head">
              Recruitment & Staffing
            </div><br>
            <%= image_tag asset_path("card2.png") %><br><br>
            <p class="fontsize_small fontblue">du mmy tex t du mmy te xt du mmy text dum my text du mmy text d ummy text dum my text du mmy text du mmy text</p>
            <input type="button" value="Read More" class="winter_btn backblue" />
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 margintop">
          <div class="cards_wrap">
            <div class="cards_head">
              Digital Marketing
            </div><br>
            <%= image_tag asset_path("card3.png") %><br><br>
            <p class="fontsize_small fontblue">du mmy tex t du mmy te xt du mmy text dum my text du mmy text d ummy text dum my text du mmy text du mmy text</p>
            <input type="button" value="Read More" class="winter_btn backblue" />
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 margintop">
          <div class="cards_wrap">
            <div class="cards_head">
              Software Development & Testing
            </div><br>
            <%= image_tag asset_path("card1.png") %><br><br>
            <p class="fontsize_small fontblue">du mmy tex t du mmy te xt du mmy text dum my text du mmy text d ummy text dum my text du mmy text du mmy text</p>
            <input type="button" value="Read More" class="winter_btn backblue" />
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 margintop">
          <div class="cards_wrap">
            <div class="cards_head">
              Software Solutions
            </div><br>
            <%= image_tag asset_path("card2.png") %><br><br>
            <p class="fontsize_small fontblue">du mmy tex t du mmy te xt du mmy text dum my text du mmy text d ummy text dum my text du mmy text du mmy text</p>
            <input type="button" value="Read More" class="winter_btn backblue" />
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 margintop">
          <div class="cards_wrap">
            <div class="cards_head">
              Enterprise Mobility 
            </div><br>
            <%= image_tag asset_path("card3.png") %><br><br>
            <p class="fontsize_small fontblue">du mmy tex t du mmy te xt du mmy text dum my text du mmy text d ummy text dum my text du mmy text du mmy text</p>
            <input type="button" value="Read More" class="winter_btn backblue" />
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid gallery_con">
      <div class="container">
        <div class="row">
          <div class="page_heading gallery_heading">GALLERY</div>
        </div>
        <div class="row gallery_wrap">
          <div id="nanogallery2" data-nanogallery2='{
              "thumbnailHeight":         210, "thumbnailWidth": 210,
              "thumbnailL1GutterWidth":  90,
              "thumbnailL1GutterHeight": 90,
              "thumbnailBorderVertical": 0,
              "thumbnailBorderHorizontal": 0,
              "itemsBaseURL":            "",
              "thumbnailStacks":         4,
              "thumbnailStacksRotateZ":  0.4,
              "thumbnailBuildInit2":     "thumbnail_transform-origin_50% 150%",
              "thumbnailHoverEffect2":   "thumbnail_rotateZ_0deg_15deg_easeOutQuad_200_hoverin | thumbnail_rotateZ_15deg_-10deg_delay250_keyframe_hoverin_easeOutBack_400 | thumbnail_rotateZ_-10deg_0deg_keyframe_hoverout_easeOutBack_400"
            }'>
            
            <!-- IMAGES -->
            <a href="<%= asset_path('graphic1.jpg') %>" data-ngthumb="<%= asset_path('graphic1.jpg') %>">photo 1</a>
            <a href="<%= asset_path('graphic1.jpg') %>" data-ngthumb="<%= asset_path('graphic1.jpg') %>">photo 1</a>
            <a href="<%= asset_path('graphic1.jpg') %>" data-ngthumb="<%= asset_path('graphic1.jpg') %>">photo 1</a>
            <a href="<%= asset_path('graphic1.jpg') %>" data-ngthumb="<%= asset_path('graphic1.jpg') %>">photo 1</a>
            <a href="<%= asset_path('graphic1.jpg') %>" data-ngthumb="<%= asset_path('graphic1.jpg') %>">photo 1</a>
            <a href="<%= asset_path('graphic1.jpg') %>" data-ngthumb="<%= asset_path('graphic1.jpg') %>">photo 1</a>
            <a href="<%= asset_path('graphic1.jpg') %>" data-ngthumb="<%= asset_path('graphic1.jpg') %>">photo 1</a>
            <a href="<%= asset_path('graphic1.jpg') %>" data-ngthumb="<%= asset_path('graphic1.jpg') %>">photo 1</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid testimonial_con">
      <div class="row">
        <%= image_tag asset_path("graphic3.jpg"), class: "testimonial_banner" %>
      </div>
      <div class="container">
        <div class="row">
          <div class="page_heading testimonial_heading">TESTIMONIAL</div>
        </div>
        <div class="row" id="carousel">          
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                          <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
                  <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                    <!-- Carousel indicators -->
                            <ol class="carousel-indicators">
                      <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
                      <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                      <li data-target="#fade-quote-carousel" data-slide-to="2" class="active"></li>
                              <li data-target="#fade-quote-carousel" data-slide-to="3"></li>
                              <li data-target="#fade-quote-carousel" data-slide-to="4"></li>
                              <li data-target="#fade-quote-carousel" data-slide-to="5"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                      <div class="item">
                                  <div class="profile-circle" style="background-color: rgba(0,0,0,.2);">
                                    <%= image_tag asset_path("test1.png"), class: "testimonial_pic" %>
                                  </div>
                        <blockquote>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                        </blockquote> 
                      </div>
                      <div class="item">
                                  <div class="profile-circle" style="background-color: rgba(77,5,51,.2);">
                                    <%= image_tag asset_path("test1.png"), class: "testimonial_pic" %>
                                  </div>
                        <blockquote>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                        </blockquote>
                      </div>
                      <div class="active item">
                                  <div class="profile-circle" style="background-color: rgba(145,169,216,.2);">
                                    <%= image_tag asset_path("test1.png"), class: "testimonial_pic" %>
                                  </div>
                        <blockquote>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                        </blockquote>
                      </div>
                              <div class="item">
                                  <div class="profile-circle" style="background-color: rgba(77,5,51,.2);">
                                    <%= image_tag asset_path("test1.png"), class: "testimonial_pic" %>
                                  </div>
                          <blockquote>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                        </blockquote>
                      </div>
                              <div class="item">
                                  <div class="profile-circle" style="background-color: rgba(77,5,51,.2);">
                                    <%= image_tag asset_path("test1.png"), class: "testimonial_pic" %>
                                  </div>
                          <blockquote>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                        </blockquote>
                      </div>
                              <div class="item">
                                  <div class="profile-circle" style="background-color: rgba(77,5,51,.2);">
                                    <%= image_tag asset_path("test1.png"), class: "testimonial_pic" %>
                                  </div>
                          <blockquote>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                </div>              
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="container-fluid contact_con">
      <div class="row">
        <div class="page_heading contact_heading">CONTACT US</div>
      </div>
      <div class="container">
        <div class="row fontsize_small align_center fontwhite margintop">
          We look forward to hearing from you! Please fill out the form below and click "Submit." We will get back to you as soon as possible!
        </div>
        <form>
          <div class="row margintop">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <input type="text" placeholder="Full Name" class="form-control home_contact_form"/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <input type="Email" placeholder="Email" class="form-control home_contact_form"/>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
              <textarea placeholder="Massege" class="form-control home_contact_form"></textarea>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 align_center margintop">
              <input type="button" value="Post" class="winter_btn backorange" />
            </div>
          </div>
        </form>
      </div>
    </div>
    </section>