<section>
      <div class="container-fluid contacts_con">
        <div class="container">
          <div class="row">
            <div class="page_heading contacts_heading">CONTACT</div>
          </div>
          <div class="row align_justify">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <h1>Training Centres of Dezignsuite</h1><hr>
              <h4>
                <p><b>Dezignsuite - Mohali</b></p>
                <p>C-127, 3rd Floor, OZI Building, Phase-8, Industrial Area, SAS Nagar, Mohali</p>
                <p>
                  <span class="bold_text fontsize_small"><i class="fa fa-mobile fontorange"></i></span> <span class="fontblue fontsize_small">+91-9646498343</span> <span class="bold_text fontsize_small"><i class="fa fa-envelope fontorange"></i></span> <span class="fontblue fontsize_small">nitish.ranag@gmail.com<span class="fontblue">
                </p>
              </h4><hr>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="background:#e9e9e9">
              <h1>Reach Us</h1><hr>
              <%= form_for @contact, html: {novalidate: ''} do |f|%>
                <div class="form-group">
                  <label for="contact_name">Name*</label>
                  <%= f.text_field :name, placeholder: "Name", class: "form-control",required: true %>
                </div>
                <div class="form-group">
                  <label for="contact_email">Email*</label>
                  <%= f.email_field :email, placeholder: "Email", class: "form-control", required: true %>
                </div>
                <div class="form-group">
                  <label for="contact_phone">Phone</label>
                  <%= f.text_field :phone, placeholder: "Phone", class: "form-control", required: true %>
                </div>
                <div class="form-group">
                  <label for="contact_mobile">Mobile</label>
                  <%= f.text_field :mobile, placeholder: "Mobile", class: "form-control", required: true %>
                </div>
                <div class="form-group">
                  <label for="contact_msg">Your Message*</label>
                  <%= f.text_area :message, class: "form-control" %> 
                </div>
                <%= f.submit "Submit", class: "winter_btn backorange" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>