<%= render "admin/shared/message" %>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
      <h2>Contacts</h2>
    </div>
    <div class="col-md-6">
      <div class="model_buttons">
        
      </div>
    </div>
  </div>
</div>
<div class="model_line"></div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Phone</th>
          <th>Message</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if @contacts.present? %>
          <% @contacts.each do |contact| %>
            <tr>
              <td>
                <%= contact.name %>
              </td>
              <td>
                <%= contact.email %>
              </td>
              <td>
                <%= contact.mobile ? contact.mobile : "-" %>
              </td>
              <td>
                <%= contact.phone ? contact.phone : "-" %>
              </td>
              <td class="contact_message">
                <%= contact.message %>
              </td>
              <td>
                <%= link_to (fa_icon "eye").html_safe,admin_contact_path(contact.id),{title:'Show',class: 'btn-sm btn-primary'} %>
                <%= link_to (fa_icon "trash").html_safe, admin_contact_path(contact),{title:'Delete',class: 'btn-sm btn-danger',method: :delete,data: {confirm: "Are you sure you want to delete this?"}} %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td class="center" colspan="6">No Record Found</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
