<p>Name: <%= @contact.name %></p>
<p>Email: <%= @contact.email %></p>
<p>Phone: <%= @contact.phone ? @contact.phone : "-" %></p>
<p>Mobile: <%= @contact.mobile ? @contact.mobile : "-" %></p>
<p>Message: <%= @contact.message %></p>
<p>Date: <%= @contact.created_at %></p>