 <header id="header_con">
      <div class="container-fluid">
        <div class="container">
          <div class="row top_head">
            <div class="col-lg-5 col-md-5 col-sm-5">
              <%= image_tag asset_path('toplogo.png'), class: "top_logo" %>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 header_right align_right paddingtop">
              <span class="bold_text fontsize_small"><i class="fa fa-mobile fontorange"></i></span> <span class="fontblue fontsize_small">+91-9646498343</span> <span class="bold_text fontsize_small"><i class="fa fa-envelope fontorange"></i></span> <span class="fontblue fontsize_small">nitish.ranag@gmail.com</span><span class="fontblue"> <br>
              <a href=""><i class="fa fa-facebook marginright"></i></a> <a href=""><i class="fa fa-google-plus marginright"></i></a> <a href=""><i class="fa fa-instagram marginright"></i></a> <a href=""><i class="fa fa-linkedin marginright"></i></a></span>
            </div>
          </div>
        </div>
      </div>
    </header>
     <section>
       <div class="container-fluid">
         <div class="conatainer">
           <div class="col-lg-4 col-md-4 col-sm-4"></div>
           <div class="col-lg-4 col-md-4 col-sm-4 adminlogin_formwrap">
            <h3 class="align_center">Admin Login</h3>
             <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <label for="adminlogin_user">Email</label>
                <%= f.email_field :email, autofocus: true,placeholder: "Email", class: "form-control" %>
              </div>
              <div class="form-group">
                <label for="adminlogin_password">Password</label>
                <%= f.password_field :password, autocomplete: "off", class: "form-control",placeholder: "Password" %>
              </div>
              <%= f.submit "Log in",class: "winter_btn backorange" %>
            <% end %>
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4"></div>
         </div>
       </div> 
     </section>
    <footer>
      <div class="container-fluid footer_con2 margintop paddingbottom">
        <div class="container">
          <div class="col-lg-4 col-md-4 col-sm-4 align_center fontwhite margintop">
            Copyrighht@<a href="http://www.dezignsuite.com/">DezignSuite</a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 align_center fontwhite margintop">
            <a href=""><i class="fa fa-facebook marginright"></i></a> <a href=""><i class="fa fa-google-plus marginright"></i></a> <a href=""><i class="fa fa-instagram marginright"></i></a> <a href=""><i class="fa fa-linkedin marginright"></i></a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 align_center fontwhite margintop">
            Designed by <a href="http://nishrana.com/">SibliCode</a>
          </div>
        </div>
      </div>
    </footer>