<p>Name: <%= @career.name %></p>
<p>Email: <%= @career.email %></p>
<p>Mobile: <%= @career.mobile %></p>
<p>Phone: <%= @career.phone ? @career.phone : "-" %></p>
<p>Location: <%= @career.location ? @career.location : "-" %></p>
<p>State: <%= @career.state %></p>
<p>City: <%= @career.city %></p>
<p>Subject: <%= @career.subject %></p>
<p>Message: <%= @career.message %></p>
<p>Date: <%= @career.created_at %></p>