<div class="sidebar">
	<ul>
		<li>
			<%= link_to (fa_icon "user", text:'Students').html_safe,admin_student_enrollments_path %>
		</li>
		<li>
			<%= link_to (fa_icon "user", text:'Contacts').html_safe, admin_contacts_path %>
		</li>
		<li> 
			<%= link_to (fa_icon "gear", text:'Testimonials').html_safe, admin_testimonials_path %>
		</li>
		<li>
			<%= link_to (fa_icon "image", text:'Images').html_safe, admin_galleries_path %>
		</li>
		<li>
			<%= link_to (fa_icon "building", text:'Workshops').html_safe, admin_workshops_path %>
		</li>
		<li>
			<%= link_to (fa_icon "building", text:'Programs').html_safe, admin_programs_path %>
		</li>
		<li>
			<%= link_to (fa_icon "building", text:'Careers').html_safe, admin_careers_path %>
		</li>
		<li>
			<%= link_to (fa_icon "book", text:'Courses').html_safe, admin_courses_path %>
		</li>
	</ul>
</div>