<%= form_for [:admin, @course] do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placefolder: "Course Name", class: "form-control", required: true %>
  </div>
  <%= f.button (fa_icon "check", text:"Save").html_safe, class: "btn btn-success",data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving...".html_safe} %>
  <%= link_to (fa_icon "arrow-left", text:"Back").html_safe, admin_courses_path, class: "btn btn-primary" %>
<% end %>
